/* ð™¼ðšŽðšðš’ðšŠ ðš€ðšžðšŽðš›ðš’ðšŽðšœ */

@media screen and (max-width: 991px){
    #clinOneNavCollapse {
        top: 21px;
        position: relative;
    }

    .nav_btn_item {margin-top: 5px; margin-bottom: 8px;}
    button.nav_signin_btn {width: 150px; margin-bottom: 20px;}

    li.nav-item > a:after {bottom: 0;}
}

/* Dropdown on-hover (Desktop only!) */
@media all and (min-width: 992px) {
    .navbar .dropdown-menu-end{right:0; left: auto; }
    .navbar .nav-item .dropdown-menu{display:block; opacity: 0; visibility: hidden; transition:.9s; margin-top:0;}
    .navbar .nav-item:hover .nav-link{color: #777;  }
    .navbar .dropdown-menu.fade-down{top:80%; transform-origin: 0 0;}
    .navbar .dropdown-menu.fade-up{top:180%;}
    .navbar .nav-item:hover .dropdown-menu{ transition: .9s; opacity:1; visibility:visible; top:100%;}
}



/*-=-=-=-=-=-=*/ /*-=-=-=-=-=-=-=-*/
/* =========== Header =========== */
/*-=-=-=-=-=-=*/ /*-=-=-=-=-=-=-=*/

@media screen and (min-width: 4000px){
    .clinone_home_header_area {background-position: 0 -55px !important;}
}
@media screen and (min-width: 5000px){
    .clinone_home_header_area {background-position: 0 -205px !important;}
}


@media screen and (max-width: 1199px){
    .h_banner_home {width: 66%;}
}

@media screen and (max-width: 991px){
    .h_banner_home h1 {font-size: 2.541rem;}
    .h_banner_home h2 {font-size: 1.3rem;}
    .h_banner_home {left: 40px;}
}

@media screen and (max-width: 585px){
    .h_banner_home h1 {font-size: 2.2rem;}
    .h_banner_home h2 {font-size: 1.1rem;}
    .h_banner_home {width: 75%; left: 15px;}
}

@media screen and (max-width: 575px){
    .clinone_home_header_area {min-height: 500px;}
    .h_banner_home {top: 130px;}
}

@media screen and (max-width: 550px){
    .h_banner_home h1 {margin-bottom: 22px;}
    .h_banner_home h2 {margin-bottom: 30px;}
}

@media screen and (max-width: 430px){
    .h_banner_home {top: 90px;}
}



/*-=-=-=-=-=-=*/ /*-=-=-=-=-=-=-=-*/
/* =========== Solution Boxes =========== */
/*-=-=-=-=-=-=*/ /*-=-=-=-=-=-=-=*/

@media screen and (max-width: 1399px){
    .solution_box_outermost {width: 30%;}
}

@media screen and (max-width: 1199px){
    .solution_box_outermost {width: 29%;}
    .solution_title h3 {font-size: 1.414rem;}
    ul.solution_features li {font-size: 1rem;}
}

@media screen and (max-width: 991px){
    .solution_box_outermost {margin-right: 12px;}
    img.solution_icon {height: 60px;}
    ul.solution_features li:before {margin-right: 6px; width: 15px; height: 15px;}
    ul.solution_features li {
        text-indent: -20px;
        margin-left: 16px;
    }
}

@media screen and (max-width: 767px){
    .solution_box_outermost {
        width: 100%;
        margin-right: 0;
        min-height: 150px;
        height: auto;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 575px){
    .solution_boxes_holder {
        top: -45px;
        width: 96%;
        margin: 0 auto;
    }
}




/*-=-=-=-=-=-=*/ /*-=-=-=-=-=-=-=-*/
/* =========== Resources =========== */
/*-=-=-=-=-=-=*/ /*-=-=-=-=-=-=-=*/

@media screen and (max-width: 1199px){
    .resource_details {width: 50%;}
    .resource_details h5 {font-size: 1.3rem;}
}

@media screen and (max-width: 991px){
    .resource_thumb {float: none;}
    .slick-prev {left: -25px;}
    img.r_thumb {width: 100%;}
    .resource_details {padding-left: 0; width: 100%; padding-top: 12px;}
    .resource_details h5 {font-size: 1.5rem;}
}

@media screen and (max-width: 575px){
    .resources_area {min-height: 1650px;}
}

@media screen and (max-width: 499px){
    .resources_slider_holder {width: 97%; padding-top: 20%;}
}




/*-=-=-=-=-=-=*/ /*-=-=-=-=-=-=-=-*/
/* =========== Why ClinOne (Section) =========== */
/*-=-=-=-=-=-=*/ /*-=-=-=-=-=-=-=*/

@media screen and (max-width: 1199px) {
    .why_clinone_section_textual_holder {padding-top: 25px;}
    .twophones {top: -111px;}
}

@media screen and (max-width: 991px){
    .twophones {position: relative; top: 16px;}
}

@media screen and (max-width: 767px){
    .twophones {top: 86px;}
}

@media screen and (max-width: 500px){
    .why_clinone_section_textual_holder {padding-right: 26px;}
    .twophones {background-size: cover; top: 24px; height: 550px;}
    .why_clinone_section_content_outermost {padding-top: 0;}
}

@media screen and (max-width: 444px){
    .twophones {top: 24px; height: 490px;}
}

@media screen and (max-width: 395px){
    .twophones {height: 440px;}
}

@media screen and (max-width: 355px){
    .twophones {height: 410px; left: -12px;}
}

@media screen and (max-width: 335px){
    .twophones {height: 385px;}
}




/*-=-=-=-=-=-=*/ /*-=-=-=-=-=-=-=-*/
/* =========== Set Apart =========== */
/*-=-=-=-=-=-=*/ /*-=-=-=-=-=-=-=*/

@media screen and (max-width: 1199px){
    .circle_icon_holder h5 {font-size: 1.1rem;}
    article.standard_body_text.centered_and_shrinked {width: 70%;}
    article.standard_body_text.centered_and_shrinked_wider {width: 75%;}
}

@media screen and (max-width: 991px){
    .circle_icon_holder {margin-bottom: 84px;}
    article.standard_body_text.centered_and_shrinked_wider {width: 95%;}
}

@media screen and (max-width: 767px){
    article.standard_body_text.centered_and_shrinked {width: 97%;}
    article.standard_body_text.centered_and_shrinked_wider {width: 97%;}
    .set_aparat_area {padding-bottom: 16px;}
    .set_apart_content_outermost {padding-top: 60px;}
}

@media screen and (max-width: 574px) {
    .advantage_circles_and_icons_outermost {padding-right: 0;}
}





/*-=-=-=-=-=-=*/ /*-=-=-=-=-=-=-=-*/
/* =========== Set Apart =========== */
/*-=-=-=-=-=-=*/ /*-=-=-=-=-=-=-=*/

@media screen and (max-width: 991px){
    .stats_outermost {padding-top: 36px;}
    .statbox {margin-bottom: 55px;}
}

@media screen and (max-width: 575px){
    .partners_slider_holder {padding-top: 60px;}
}





/*-=-=-=-=-=-=*/ /*-=-=-=-=-=-=-=-*/
/* =========== Pop-Box =========== */
/*-=-=-=-=-=-=*/ /*-=-=-=-=-=-=-=*/

@media screen and (max-width: 575px){
    .popbox_content_outermost {width: 98%; margin: 0 auto;}
    .popbox_one {border-radius: 20px;}
    .p_logo_slide {height: 38px;}
}

@media screen and (max-width: 360px){
    .p_logo_slide {height: 48px;}
}





/*-=-=-=-=-=-=*/ /*-=-=-=-=-=-=-=-*/
/* =========== Footer =========== */
/*-=-=-=-=-=-=*/ /*-=-=-=-=-=-=-=*/

@media screen and (max-width: 767px){
    ul.clinonef_linx.firstlinx {position: relative; left: -14px;}
    .clinonef_links_outermost {margin-bottom: 20px;}

    hr.footer_separ {width: 85%; margin-top: 16px;}
}





/*-=-=-=-=-=-=*/ /*-=-=-=-=-=-=-=-*/
/* =========== Empower (inner page) =========== */
/*-=-=-=-=-=-=*/ /*-=-=-=-=-=-=-=*/

@media screen and (max-width: 1199px){
    .problem_statement p {font-size: 1.2rem;}
    .problem_statement p span {font-size: 1.9rem;}

    ul.solution_statement_points li {font-size: 1.2rem;}
    .solution_statement h5 {font-size: 1.5rem;}
}

@media screen and (max-width: 991px){
    .problembox {height: 235px; width: 96%;}
    .solutionbox_inner {position: relative; left: 0; height: 250px;}

    img.ipad_collage {width: 270px;}
}

@media screen and (max-width: 767px){
    .problem_statement {padding-left: 12px;}
    img.ipad_collage {width: 100%; margin-bottom: 22px;}

    .solutions_inner_content_outermost {margin-bottom: 24px;}

    .resource_item {margin-bottom: 42px;}
    .popbox_inner {padding-bottom: 20px;}

    .prefooter_solution_cta_area:after {background: rgba(255, 255, 255, 0.7);}

    .h_banner_inner {top: 130px;}
    .h_banner_inner h1 {font-size: 3rem;}

}

@media screen and (max-width: 575px){
    .problembox {width: 93%;}
    .solutionbox_inner {width: 96%;}

    .popbox_inner_content_outermost {width: 96%; margin: 0 auto;}
    .popbox_inner {border-radius: 20px;}

    .prefooter_content_outermost {width: 96%; margin: 0 auto;}
}

@media screen and (max-width: 484px){
    ul.solution_statement_points li {font-size: 1rem;}
    ul.solution_statement_points li:before {height: 17px;}

    .problem_statement p {font-size: 1rem;}
    .problem_statement p span {font-size: 1.5rem;}
}

@media screen and (max-width: 414px) {
    img.ipad_collage {margin-bottom: 18px;}

    .h_banner_inner h1 {font-size: 2.3rem;}
}

@media screen and (max-width: 390px){
    .prefooter_solution_cta_area {min-height: 640px;}
    .whitefog {height: 640px;}
}

@media screen and (max-width: 370px) {
    img.ipad_collage {margin-bottom: 4px;}
}





/*-=-=-=-=-=-=*/ /*-=-=-=-=-=-=-=-*/
/* =========== Why ClinOne (inner page) =========== */
/*-=-=-=-=-=-=*/ /*-=-=-=-=-=-=-=*/

@media screen and (max-width: 767px){
    .mission_content_outermost {padding-top: 18px;}
    .ceo_image_holder {margin-bottom: 32px;}
}

@media screen and (max-width: 575px){
    .mission_text_holder {padding-left: 28px; padding-right: 28px;}
}





/*-=-=-=-=-=-=*/ /*-=-=-=-=-=-=-=-*/
/* =========== Our Company (inner page) =========== */
/*-=-=-=-=-=-=*/ /*-=-=-=-=-=-=-=*/

@media screen and (min-width: 1600px){
    .modal-dialog.clinone_modal {max-width: 875px;}
}

@media screen and (max-width: 1199px){
    .team_member {width: 25%;}
    .bio_data {left: 12px;}
}

@media screen and (max-width: 991px){
    .team_member {width: 33%;}

    .company_content_outermost {padding-top: 22px;}
    .our_company_area {padding-bottom: 55px;}

    .modal-dialog.clinone_modal {max-width: 75%;}
}

@media screen and (max-width: 880px){
    .bio_data {left: 40px;}
}

@media screen and (max-width: 767px){
    .team_member {width: 50%;}

    .our_company_area {padding-top: 18px;}

    .modal-dialog.clinone_modal {max-width: 88%;}
    .bio_data h2 {font-size: 1.2rem}
    .bio_data h3 {font-size: 1.1rem}
    .bio_data h4 {font-size: 1rem}

}

@media screen and (max-width: 575px){
    .bio_data {left: 0;}
    .team_members_holder {padding-right: 0;}
    .team_member {width: 100%;}

    .company_content_outermost {width: 96%; margin: 0 auto;}
    .company_text_holder {position: relative; top: -50px;}

    .modal-dialog.clinone_modal {max-width: 97%;}

    .modal-header.clinone_modal_header {
        justify-content: center;
        align-items: center;
        align-content: center;
    }
    .biopic_holder {display: flex; justify-content: center; margin-bottom: 8px;}
    .bio_data {text-align: center; padding-left: 0;}
    .bio_data h2 {text-align: center;}
    .bio_data h3 {text-align: center;}
    .bio_data h4 {text-align: center;}

    a.linkedin_connector {position: relative; margin-bottom: 16px; margin-top: 26px;}
}

@media screen and (max-width: 414px){
    img.doc {height: 315px;}
}




/*-=-=-=-=-=-=*/ /*-=-=-=-=-=-=-=-*/
/* =========== Locations (inner page) =========== */
/*-=-=-=-=-=-=*/ /*-=-=-=-=-=-=-=*/

@media screen and (max-width: 991px){
    .other_locations_holder {
        padding-left: 13px;
        margin-top: 32px;
    }
}

@media screen and (max-width: 575px){
    .map_and_data_holder {padding-left: 32px;}
}





/*-=-=-=-=-=-=*/ /*-=-=-=-=-=-=-=-*/
/* =========== Careers (inner page) =========== */
/*-=-=-=-=-=-=*/ /*-=-=-=-=-=-=-=*/

@media screen and (max-width: 1199px){
    a.careerbox h5 {font-size: 1.1rem;}
    a.careerbox h6 {font-size: 1rem;}
}

@media screen and (max-width: 767px){
    .career_type_holder {margin-bottom: 36px;}
}

@media screen and (max-width: 575px) {
    .career_type_holder {padding-left: 28px;}
    .job_details_area {width: 94%; margin: 0 auto;}

}





/*-=-=-=-=-=-=*/ /*-=-=-=-=-=-=-=-*/
/* =========== News (inner page) =========== */
/*-=-=-=-=-=-=*/ /*-=-=-=-=-=-=-=*/

@media screen and (max-width: 991px){
    .news_blog_thumb {height: 325px; margin-bottom: 16px;}
    button.readmore_btn {position: relative; margin-top: 18px;}
}

@media screen and (max-width: 575px){
    .all_news_content_outermost {padding-left: 18px;}
    .news_details_content_outermost {width: 97%; margin: 0 auto;}
}

@media screen and (max-width: 499px){
    .news_blog_thumb {height: 250px;}
    img.news_blog_large_image {height: 250px;}
}

@media screen and (max-width: 414px){
    .news_blog_thumb {height: 200px;}
    img.news_blog_large_image {height: 200px;}
}

@media screen and (max-width: 365px){
    .news_blog_thumb {height: 180px;}
    img.news_blog_large_image {height: 180px;}
}





/*-=-=-=-=-=-=*/ /*-=-=-=-=-=-=-=-*/
/* =========== Contact (inner page) =========== */
/*-=-=-=-=-=-=*/ /*-=-=-=-=-=-=-=*/

@media screen and (max-width: 1399px){
    .clinoneform_fieldset_chkbx {
        width: 39%;
        padding-left: 28px;
    }
}

@media screen and (max-width: 1199px){
    .pre_form_tagline_holder {width: 90%;}
}

@media screen and (max-width: 991px){
    .pre_form_tagline_holder h3 {font-size: 2.2rem;}
    .pre_form_tagline_holder h4 {font-size: 1.2rem;}
}

@media screen and (max-width: 767px){
    .contact_type_holder {margin-bottom: 46px;}
    .contact_type_holder:last-child {margin-bottom: 0;}

    .contact_upper_aprea {min-height: 965px;}
    .pre_form_tagline_holder {padding-top: 36px;}

    .clinoneform_fieldset_chkbx {
        width: 50%;
        padding-left: 50px;
    }
}

@media screen and (max-width: 575px){
    .pre_form_tagline_holder h3 {font-size: 1.7rem;}

    .clinoneform_fieldset_chkbx {width: 52%;}

    .submit_btn_holder {padding-left: 2.4rem;}
}

@media screen and (max-width: 510px){
    .clinoneform_fieldset_chkbx {width: 70%;}
}

@media screen and (max-width: 499px){
    input#agreement {position: relative; left: 50%;}
    .form-check-label.agreement_label {text-align: center; top: 34px;}
}

@media screen and (max-width: 490px){
    .clinoneform_fieldset_chkbx {width: 75%;}
}

@media screen and (max-width: 472px){
    .form-check-label.agreement_label {top: 11px;}
}

@media screen and (max-width: 378px){
    .clinoneform_fieldset_chkbx {width: 100%;}
}





































